/* верхний баннер */
#announce {
  display: none !important;
}

/* скрыть из меню 'ex почту' */
a[href="https://mail.ex.ua/"] {
  display: none !important;
}
a[href="http://www.ex.ua/"]:before { /* иконка не работает почему то */
  content: url('http://www.ex.ua/get/155124338');
}